<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/studentDashboard.css">
</head>
<body>
    <nav>
        <div class="logo">
            <img src="/images/logo.png" alt="Logo">
        </div>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/course">Courses</a></li>
        </ul>
        <div class="user-profile">
            <div class="user-initials">{{userInitials}}</div> <!-- Dynamic initials -->
        </div>
    </nav>    
    
    <main>
    <div class="dashboard">
        <div class="profile-info">
            <div class="user-initials-profile">{{userInitials}}</div> <!-- Dynamic initials -->
            <h2>{{userName}}</h2> <!-- Dynamic user name -->
            <div class="credits"> 
                <h1>{{totalCredits}}</h1><br>Total Credits
            </div>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Sr.no.</th>
                    <th>Course Name</th>
                    <th>Course Credit</th>
                    <th>Issuing Organization</th>
                    {{!-- <th>Certificate</th> --}}
                    <th>Date of Submission</th>
                    <th>Status</th> <!-- Status column -->
                    <th>Remarks</th> <!-- Added column for remarks -->
                </tr>
            </thead>
            <tbody>
                {{#each certificates}}
                    <tr>
                        <td>{{this.serialNumber}}</td>
                        <td>{{this.courseName}}</td>
                        <td>{{this.credits}}</td>
                        <td>{{this.courseOrganization}}</td>
                        <td>{{this.dateOfCompletion}}</td>
                        <td>{{this.status}}</td> <!-- Status -->
                        <td>{{this.remarks}}</td> <!-- Remarks -->
                    </tr>
                {{/each}}
            </tbody>
        </table>

        <div class="button-container">
            <button class="upload-button" onclick="window.location.href='/certificate'">Upload Certificate</button>
            <form action="/logout" method="POST">
                <button type="submit" class="upload-button logout-button">Logout</button>
            </form>
        </div>
    </div>
    </main>
    
    <footer>
        <div class="footer-info">
            <p>Address: 1, Nathibai Thackersey Road, Mumbai 400020</p>
            <p>Contact Information:</p>
            <p>Website: <a href="https://sndt.ac.in/">https://sndt.ac.in/</a></p>
            <p>Phone: 022-2203 1879 | 022-2203 2159</p>
        </div>
    </footer>
</body>
</html>
