<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/studentHome.css"> <!-- Make sure the path is correct -->
</head>

<body>
    <div class="container">
        <nav>
            <div class="logo">
                <a href="/">
                    <img src="images/logo.png" alt="Logo">
                </a>
            </div>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/dashboard">Dashboard</a></a></li>
                <li><a href="/course">Courses</a></li>
            </ul>
            <div class="user-profile">
                <div class="user-initials">{{userInitials}}</div>
            </div>
        </nav>

        <section class="courses">
            <div class="section-title">Ongoing Courses<br></div>

            <div class="course-cards">
                {{#each ongoingCourses}}
                <div class="card">
                    <a href="#" onclick="viewCourse('{{this._id}}')">
                        <img src="{{this.image}}" alt="{{this.courseName}}" class="course-image" />
                        <div class="card-details">
                            <div class="course-name">{{this.courseName}}</div>
                            <div class="course-type">Mode: {{this.mode}}</div>
                            <div class="course-credits">Credits: {{this.credits}}</div>
                        </div>
                    </a>
                </div>
                {{/each}}
            </div>

            <div class="section-title"><br>Completed Courses<br></div>

            <div class="course-cards">
                {{#each completedCourses}}
                <div class="card">
                    <a href="#" onclick="viewCourse('{{this._id}}')">
                        <img src="{{this.image}}" alt="{{this.courseName}}" class="course-image" />
                        <div class="card-details">
                            <div class="course-name">{{this.courseName}}</div>
                            <div class="course-type">Mode: {{this.mode}}</div>
                            <div class="course-credits">Credits: {{this.credits}}</div>
                        </div>
                    </a>
                </div>
                {{/each}}
            </div>
        </section>
    </div>
    <script>
        function viewCourse(courseId) {
            window.location.href = `/enrolled-course/${courseId}`;
        }
    </script>
</body>

</html>